*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
    font-size: 2em;
    font-weight: 600;
}
.menu{
    padding-left: 10%;
    padding-right: 10%;

}

.box{
    display: inline-block;
    background-color: gray;
    width: 30%;
    margin: 10px;
    border: 2px solid black;
}
.box_header{
    display: block;
    text-align: right;
    border: 1px solid black;
}
.box_1{


}
